services:
  dns:
    image: ubuntu/bind9
    container_name: dns_javier
    user: root
    networks:
      red_daw:
        ipv4_address: 172.20.0.13
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - ./bind9/conf:/etc/bind
      - ./bind9/zones:/var/lib/bind

  dns-slave:
    image: ubuntu/bind9
    container_name: dns_slave_javier
    user: root
    networks:
      red_daw:
        ipv4_address: 172.20.0.17
    ports:
      - "5454:53/tcp"
      - "5454:53/udp"
    volumes:
      - ./bind9-slave/conf:/etc/bind
      - ./bind9-slave/zones:/var/lib/bind
    depends_on:
      - dns

  tomcat:
    image: tomcat:9.0
    container_name: tomcat_javier
    networks:
      red_daw:
        ipv4_address: 172.20.0.14
    volumes:
      - ./tomcat/webapps:/usr/local/tomcat/webapps

  apache:
    build: ./apache
    container_name: apache_javier
    networks:
      red_daw:
        ipv4_address: 172.20.0.15
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./apache/conf/httpd.conf:/usr/local/apache2/conf/httpd.conf
      
      - ./apache/conf/extra/edutech.conf:/usr/local/apache2/conf/extra/httpd-vhosts.conf
      - ./apache/www:/usr/local/apache2/htdocs
      - ./apache/logs:/usr/local/apache2/logs
      - ./apache/conf/server.crt:/usr/local/apache2/conf/ssl/server.crt
      - ./apache/conf/server.key:/usr/local/apache2/conf/ssl/server.key
    depends_on:
      - dns
      - tomcat
    dns:
      - 172.20.0.13

  mail:
    build: ./correo
    container_name: mail_javier
    hostname: mail.javier.local
    domainname: javier.local
    networks:
      red_daw:
        ipv4_address: 172.20.0.18
    ports:
      - "25:25"
      - "110:110"
      - "143:143"
    dns:
      - 172.20.0.13

  ldap:
    image: osixia/openldap:latest
    container_name: ldap_javier
    hostname: ldap.javier.local
    domainname: javier.local
    environment:
      LDAP_ORGANISATION: "EduTech Solutions"
      LDAP_DOMAIN: "javier.local"
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_LOG_LEVEL: "256"
    volumes:
      - ./ldap_data/bootstrap.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/50-bootstrap.ldif
    networks:
      red_daw:
        ipv4_address: 172.20.0.16
    ports:
      - "389:389"
      - "636:636"
    dns:
      - 172.20.0.13

  phpldapadmin:
    image: osixia/phpldapadmin:latest
    container_name: phpldapadmin_javier
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: ldap_javier
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - "8080:80"
    networks:
      red_daw:
    depends_on:
      - ldap

networks:
  red_daw:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16